        /*alt dette er for html som trenger samme css*/
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: #25282a;
        }

        p{
            font-family: "Raleway";
            color: white;
            font-size: 20px;
            font-weight: 500;
        }
        /*-------------------------------------------*/

        /*disse er for nav baren*/
        .logo, li, a{
            font-family: "Raleway";
            font-weight: 500;
            font-size: 20px;
            color: #edf0f1;
            text-decoration: none;
            list-style: none; 
            background-color: rgb(53, 70, 83);
        }

        header{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10%;
            background-color: rgb(53, 70, 83);
        }

        .logoclass{
            cursor: pointer;
            font-size: 25px;
            font-weight: 700;
        }

        .nav-link, li{
            display: inline-block;
            padding: 0px 20px;
            background-color: rgb(53, 70, 83);
        }
        /*css'en nederst har hover i seg, så når cursor er over elementet vil den forandre fargen til den bestemte fargen*/
        /*for at fargen skal forandre seg sakte bruker jeg transition, men ikke i hover css'en.
        Da ville den med en gang gått til bake isteede for å forandre sakte*/
        .nav-link, li, a{
            transition: all 0.3s ease 0s;
        }

        .nav-link, li, a:hover{
            color: #00a1a9;
        }
        /*------------------------------------------*/


.grid-div{
    padding: 150px 10%;
    display: grid;
    grid-template-columns: 500px 500px;
    column-gap: 10%;
}

.text-div{
    width: 500px;
}

img{
    width: 500px;
}
    
.head{
    font-weight: 700;
    font-size: 30px;
    padding-left: 30px;
}

.p1{
    padding-top: 30px;
}
.p2{
    padding-top: 20px;
}